
    .menu{
      padding: 20px 20px 100px 20px;
    }
    .menu>h2{
      margin-bottom: 10px;
      font-family: 'Roboto';
      font-weight: normal;
      font-weight: normal;
      font-size: 24px;
      color: #b5121b;
    }
    .menu>div{
      margin-bottom: 10px;

    }
    
    .menu>div>a>img{
      width: 440px;
      

    }

